.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
  min-height: 400px;
}
.aside-container {
  height: 100%;
}
//去掉el-menu-item-group__title
.el-menu-item-group__title {
  display: none;
}
/* 激活时的背景颜色为#060708 */
.el-menu-item.is-active {
  background-color: #060708;
}
.el-menu-item.is-active::before {
  content: '';
  background-color: #009788;
  position: absolute;
  left: 0;
  width: 4px;
  height: 100%;
}
//让el-menu铺满整个容器
.aside-container {
  height: 100vh;
}
.el-menu {
  height: 100%;
  border: 0;
}