.tagBox-container {
  height: 30px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: #fff;
  border-bottom: 1px solid #e4e7ed;
}
.el-tag {
  margin-left: 5px;
  cursor: pointer;
}
p{
  display:inline-block
}