.el-table {
  width: 100%;
  margin-top: 10px;
}
h3 {
  font-size: 18.72px;
  font-weight: bold;
  text-align: center;
}
.switchBorder,
.radioLayout {
  margin-left: 10px;
  float: right;
}
.text_btn{
  color: #409EFF;
  cursor: pointer;
  padding: 10px;
  transition: all 0.3s ease; /* 添加过渡效果 */
  &:hover{
    color: rgb(165, 191, 238)
  }
}